body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #f1f1f1;
  padding: 20px;
}

nav {
  float: right;
}

nav a {
  margin-right: 10px;
}

main {
  margin-top: 20px;
}

footer {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}
